@charset "utf-8";

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 

#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

/*見出し設定*/
h1{
    /*文字の大きさ*/
    font-size: 31pt;
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color:#fff;
    text-shadow: 0 0 15px #666;
}

/*========= レイアウトのためのCSS ===============*/

#container{
background:#fff;
padding-top: 10px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
text-align: center;
overflow-y: hidden;
overflow-x: hidden;
}

.h1_A{
    /*見た目の調整*/
    color:rgb(255, 226, 231);
    text-shadow: 5px 5px 20px rgb(80, 80, 80);
    font-size: 40pt;
    text-align: center;
    font-weight: 600;
}

h2{
    color: white;
    text-shadow: 5px 5px 20px rgb(80, 80, 80);
    font-size: 50pt;
    text-align: center;
    font-weight: 600;
    font-family: Monotype Corsiva;
}

.split{
    display: table;
    width: 100%;    
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left__inner{
    height: -800px;
}
.split-right__inner{
    height: 800px;
}

@media screen and (max-width:1024px) {
    .split{
        display: block;
    }
    .split-item{
        display: block;
        width: auto;
    }
    .split-left__inner{
        position: inherit;
        width: auto;
    }
}

h3{
    color: black;
    text-shadow: 5px 5px 20px rgb(80, 80, 80);
    font-size: 40pt;
    text-align: center;
    font-weight: 500;
    font-family: Monotype Corsiva;
}

@media screen and (max-width:1024px) {
    .center{
        margin-top: 23cm;
    }
}



.anim-box.zoomin.is-animated {
    animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
   
@keyframes zoomIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
